<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Criar Tipo de Questão</title>
    <style>
	table, th, td {
	border: 1px solid black;
	}
    </style>
</head>

<body>
        <h1>Criar Tipo de Questão</h1>
        
          <form action="/">
            <input type='submit' value='Voltar'>
         </form>
         
         <form action="/criar_tipo_questao2">
             Tipo de questao a ser criada <input type='text' name='new_question_type'><br>
             <input type='submit' value='Enviar'>
         </form>
        
        <h3>Consulte os tipos ja existentes</h3>
  <table style="width:100%">
   <tr>
     <th>ID</th>
     <th>Tipos</th>
   </tr>

    {% for item in data %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
    </tr>
    {% endfor %}

 </table>
 </body>
 
</html>
