<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Criar Questão</title>
</head>

<body>
    <form>
        <h1>Criar Questão</h1>

        <form method="POST">
            <label for="new_question_text">Texto da Questão</label>
            <input name="new_question_text">
            <input type="submit">
        </form>

        <form method="POST">
            <label for="new_question_type">ID do Tipo da Questão</label>
            <input name="new_question_type">
            <input type="submit">
        </form>

        <form method="POST">
            <label for="new_question_list_type">ID da Lista de Resposta(apenas para padronizadas) </label>
            <input name="new_question_list_type">
            <input type="submit">
        </form>
 </body>
 
</html>