<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Novo Questionario</title>
</head>

<body>
        <h1>Pronto!.</h1>
         
          <form action="/question">
            <input type='submit' value='Questao'>
         </form>

          <form action="/crfforms">
            <input type='submit' value='crfforms'>
         </form>

          <form action="/questionGroupForm">
            <input type='submit' value='questionGroupForm'>
         </form>
         
          <form action="/">
            <input type='submit' value='Finalizar Questionario'>
         </form>   
 </body>
 
</html>
