<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Subordinar Questão</title>
</head>
 
<body>
    <form>
        <h1>Subordinar Questão</h1>

        <form method="POST">
            <label for="ID_questao_subordinada">ID da questão para subordinar</label>
            <input name="ID_questao_subordinada">
            <input type="submit">
        </form>

        <form method="POST">
            <label for="ID_questao_principal">ID da questão principal</label>
            <input name="ID_questao_principal">
            <input type="submit">
        </form>
 </body>
 
</html>